<div class="row">
	<section id="faq">
	<div class="small-10 small-offset-1 column">
		<h2 style="text-align:center;">Frequently Asked Questions</h2>
		<virtual-scroll [items]="faqs" (update)="viewPortItems = $event" class="small-12 medium-6 columns">
			<div class="faq-question" [ngClass]="{ 'faq-question-active': item===selectedfaq }"
					 *ngFor="let item of viewPortItems" (click)="OnClick(item)">{{item?.question}}</div>
		</virtual-scroll>
		<div class="small-12 medium-6 columns faq-answer" [innerHTML]="selectedfaq?.answer"></div>
	</div>
	</section>
</div>