<nav class="sh-header" ng-StickyNav>
	<div class="row">
		<div class="medium-3 show-for-medium columns menu-button">
			<img src="assets/images/text.svg">
		</div>
		<div class="medium-2 medium-offset-1 small-3 columns menu-button">
			<a scrollTo href="#home">
				Home
			</a>
		</div>
		<div class="medium-2 small-3 columns menu-button">
			<a scrollTo href="#mail">
				Sign Up!
			</a>
		</div>
		<div class="medium-2 small-3 columns menu-button">
			<a scrollTo href="#faq">
				FAQ's
			</a>
		</div>
		<div class="medium-2 small-3 columns menu-button-last">
			<a scrollTo href="#sponsors">
				Sponsors
			</a>
		</div>
	</div>
</nav>	
