<div class="row">
    <div class="small-8 small-offset-2 column footer-text">
        <p>
            Interested in sponsoring for 2018? Email us at
            <a href="mailto:sponsor@spartahack.com">sponsor@spartahack.com</a>
        </p>
    </div>
</div>

<div class="row">
    <a href="https://drive.google.com/open?id=0B2HpF7PJi5tRTG94ZTd1M2RsNnc">
        <div class="small-12 medium-3 medium-offset-2 column footer-button blue-box">
                    Prospectus
        </div>
    </a>
    <a href="https://drive.google.com/open?id=0B2HpF7PJi5tRTG94ZTd1M2RsNnc">
        <div class="small-12 medium-3 medium-offset-2 column footer-button blue-box">
                    Sponsor Tiers
        </div>
    </a>
</div>

<div class="row">
        <div class="small-8 small-offset-2 column footer-final">
            <p>
                    ©SpartaHackIV, 2018
            </p>
        </div>
    </div>