<!DOCTYPE html>
<html>
  <head>
    <title>SpartaHack IV!</title>
  </head>

  <body>
    <div class="navbar-nav">
		<a class="nav-item nav-link active" href="/">SpartaHack IV </a>
		<a class="nav-item nav-link active" href ="/dashboard">My Dashboard<a>
		<a class="nav-item nav-link active" href ="/logout">Log out<a>
	</div>
	<div>
		<h2>Change Password</h2>
		<form method="post">
			<table>
				<tr>
					<td class="lable">
						Current Password: <input type="text" name="currentpassword">
					</td>

				</tr>
				<tr>
					<td class="lable">
						New Password: <input type="text" name="newpassword">

					</td>
					<td class="lable">
						Confirm Password: <input type="text" name="confpassword">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" formaction="/forogt/passwordreset/validatepass" name="passchange" value="Submit">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
