/* You can add global styles to this file, and also import other style files */
/* CSS Document */
@font-face {
	font-family: 'ScoutCond';
	font-weight: thin;
	src: url('./assets/fonts/Scout/ScoutCond-Thin.otf');
}
body {
	background-color:#fefefe;
	font-family: Arial, Helvetica, sans-serif;
	color:#1f4051;
}
a {
	color:inherit;
}
h2 {
	font-weight: bold;
	padding: 30px 10px 10px 10px;
}
.sh-header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	opacity: .5;
}
.menu-button {
	padding: 1rem;
	text-align: center;
}
.menu-button-last {
	padding: 1rem;
	text-align:center;
}
.subscriber-before {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 2rem;
	cursor: pointer;
}
.subscriber {
	background-color:#337291;
	border-radius: 5px;
	color: white;
}
.email {
	width: 95%;
}
.logo {
	padding:1rem;
}

virtual-scroll {
	display: block;
	width: 350px;
	height: 300px;
	border: 3px double #CCCCCC;
}
.faq-question {
	padding: 1rem;
	border-bottom: 1px solid #CCCCCC;
}
.faq-question-active {
	background-color: #FFFFFF;
}
.faq-answer {
	padding: 1rem;
	border: 3px double #CCCCCC;
	height: 300px;	
}

.s-logo {
	padding: 1rem;
	height: 10rem;
	border-radius: 5px;
}
.snowflake-1 {
	padding-top: 5rem;
}
.snowflake-2 {
	padding-top: 3rem;
}
.snowflake-3 {
	padding-top: 3rem;
}
.snowflake-4 {
	padding-top: 3rem;
}
.snowflake-5 {
	padding-top: 1rem;
}

.footer-text {
	padding: 1rem;
	text-align: center;
}
.footer-button {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	text-anchor: center;
}

.footer-final {
	padding-top: 5rem;
	text-align: center;
}

