<!DOCTYPE html>
<html>
  <head>
    <title>SpartaHac IV!</title>
  </head>
  <body>
    <h2>Sign Up</h2>
		<form method="post">
			<table>
				<tr>
					<td class="lable">
						Name: <input type="text" name="name" value="{{name}}">
					</td>
					
				</tr>
				<tr>
					<td class="lable">
						University: <input type="text" name="university" value="{{university}}">
					</td>
					
				</tr>
				
				<tr>
					<td class="lable">
						Email: <input type="text" name="email" value="{{email}}">
					</td>
					
				</tr>
				<tr>
					<td>
						<input type="submit" formaction="/validateSignUp" name="signup" value="Sign Up">
					</td>
				</tr>
			</table>		
		</form>
	
  </body>
</html>