<!DOCTYPE html>
<html>
  <head>
    <title>SpartaHack IV</title>
  </head>
  <body>
    <h2>Log in</h2>
		{% if cred_error%}
			{{cred_error}}
		{%endif%}
    {% if request.cookies.get(no_newpassword) %}
      {{request.cookies.get(no_newpassword)}}
    {% elif request.cookies.get(newpassword_confpassword_diff) %}
      {{ request.cookies.get(newpassword_confpassword_diff) }}
    {% elif request.cookies.get(password_changed) %}
      {{request.cookies.get(password_changed)}}
    {%endif%}
		<form method="post">
			<table>
				<tr>
					<td class="lable">
						Email: <input type="text" name="email" value="{{email}}">
					</td>
				</tr>
				<td class="error">
					{% if no_email_error %}
						{{no_email_error}}
					{% elif email_error%}
						{{email_error}}
					{%endif%}
				</td>

				<tr>
					<td class="lable">
						Password: <input type="text" name="password" value="{{password}}">
					</td>
				</tr>
				<td class="error">
					{{password_error}}
				</td>
				<tr>
					<td>
						<input type="submit" formaction="/login/validateLogIn" name="login" value="Log In">
					</td>
				</tr>
			</table>
		</form>
		<div>
			<a href="/forgot">Forgot Password?</a>
			<a href="/application">Need to create an account</a>
		</div>
  </body>
</html>
