<!DOCTYPE html>
<html>
  <head>
    <title>SpartaHack IV!</title>
  </head>

  <body>
    <div class="navbar-nav">
		    <a class="nav-item nav-link active" href ="/login">Log in<a>
	  </div>
    <h2>Reset Password</h2>
    <form method="post">
			<table>
        <tr>
					<td class="lable">
						New Password: <input type="text" name="newpassword">

					</td>
					<td class="lable">
						Confirm Password: <input type="text" name="confpassword">
					</td>
				</tr>
				<tr>
          <input type="hidden" name="reset_password_token" value={{reset_password_token}}>
					<td>
						<input type="submit" formaction='/forgot/passwordreset/validatepass' name="passreset" value="Submit">
					</td>
				</tr>
			</table>
		</form>
  </body>
