$white: #FFF;
$light-blue: #C2E4F1;
$medium-blue: #337291;
$dark-blue: #1f4051;
$dark-grey: rgb(14, 14, 14); // Statistics
$dust-storm: #D8CBC7;
$sinopia: #CC3F0C;
$metallic-sunburst: #9A6D38;
$hunter-green: #33673B;
